cmake-build-debug/
cmake-build-debug/*
antlr4/cpp/antlr4/
antlr4/cpp/antlr4/*
*.interp
*.tokens
venv/
venv/*
*.txt
*.xes
*.dot
dist/*
*.pdf
data/*
*.zip
submodules/lydia-full/*
submodules/lydia-full/
data/*
data/
dist/*
dist/
readme/
readme/*
venv/*
venv/
