[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json/
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "submodules/date"]
	path = submodules/date
	url = https://github.com/HowardHinnant/date
[submodule "submodules/antlr4"]
	path = submodules/antlr4
	url = https://github.com/antlr/antlr4
[submodule "submodules/flloat"]
	path = submodules/flloat
	url = https://github.com/whitemech/flloat/
[submodule "submodules/probtrace"]
	path = submodules/probtrace
	url = https://github.com/jackbergus/approxProbTraceAlign
[submodule "submodules/aaltaf"]
	path = submodules/aaltaf
	url = https://github.com/jackbergus/aaltaf
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "submodules/lemon"]
	path = submodules/lemon
	url = https://github.com/gpaf/lemon-mirror
